@{
    ViewData["Title"] = "Home Page";
    @*<asp:Image runat=”server” ImageURL=”presents.png”></asp:Image>*@
}

<div class="img-fluid">
    <asp:Image runat=”server” ImageURL=”~/Images/present.png”></asp:Image>
</div>

<div class="text-center jumbotron">
    <h1 class="display-4">Welcome to Feedback Friend</h1>
    <h3>Login to Create, Assign and Complete Your Surveys</h3>
    @*<p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>*@
</div>

<div class="row">
    <div class="col-md-4">
        <h4>About</h4>
        <p>
            Brief description of project and why feedback is important
        </p>
    </div>
    <div class="col-md-4">
        <h4>Hone Your Skills</h4>
        <p>
            Link to feedback skills here
        </p>
        @*<div class="col-md-4 presents">
        <img src="presents.png" alt="Photo" />
        <img src="@Url.Content("presents.png")" alt="IMAGES" />*@
    </div>

    <div class="col-md-4">
        <h4>Download</h4>
        <p>
            Feedback Friend uses Entity Framework Core in an
            ASP.NET Core MVC web application.
        </p>
        <p>You can download the completed project from GitHub.</p>
        <p><a class="btn btn-default" href="https://github.com/ColleenWoolsey/Feedback-Friend">See project source code &raquo;</a></p>
    </div>
</div>
