@{
    ViewData["Title"] = "Home Page";
    <asp:Image runat=”server” ImageURL=”presentoutline.jpg”></asp:Image>
}

<div class="text-center jumbotron mb-2">
    <h1 class="display-4">Welcome to Feedback Friend</h1>
</div>

<div class="container bg-secondary" style="border-top: 15px solid #6c757d; border-bottom: 15px solid #6c757d;">
    <div class="card-columns">

        <div class="card m-0">
            <div class="card-header mb-0">
                <h5 class="card-title text-center text-success">How do YOU receive feedback?</h5>
            </div>
            <div>
                <img class="card-img-bottom" alt="present" src="~/css/presentoutlineStraight.jpg" width="300" height="300" />
            </div>
        </div>

        <div class="card m-0">
            <div class="card-header mb-0">
                <h6 class="card-title text-center text-primary">Link to Github</h6>
            </div>
            <img class="card-img-top mb-3" alt="present" src="~/css/presentoutlineFlip.jpg" width="225" height="225" />
            <div class="card-header mb-0">
                <p class="card-title mb-0 text-center" style="font-size:smaller;">ASP.NET Core MVC with Entity and Identity Framework</p>
            </div>
        </div>

        <div class="card m-0">
            <div class="card-header">
                <h5 class="card-title text-center text-danger">How do YOU give feedback?</h5>
            </div>
            <img class="card-img-bottom" alt="present" src="~/css/presentoutline.jpg" width="300" height="300" />
        </div>
    </div>
</div>


@*@*<asp:Image runat=”server” ImageURL=”~/Images/presentoutline.jpg”></asp:Image>*@

@*<p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>*@

@*<p>
        Feedback Friend uses Entity Framework Core in an
        ASP.NET Core MVC web application.
    </p>
    <p>You can download the completed project from GitHub.</p>
    <p><a class="btn btn-default" href="https://github.com/ColleenWoolsey/Feedback-Friend">See project source code &raquo;</a></p>*@
