@model FeedbackFriend.Models.Survey

@{
    ViewData["Title"] = "Create";
}

<h3>
    @*Survey:      @Html.DisplayFor(model => model.Survey.SurveyName)     |
    <a asp-controller="Questions" asp-action="Create" asp-route-id="@Model.SurveyId">Add a Question</a>*@
    <a asp-controller="Surveys" asp-action="LoggedIn">Back to List</a>
</h3>

<div class="row">
    <div class="col-md-12">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            @*<input type="hidden" asp-for="SurveyId" /> Only need for Edit?*@

            <div class="form-group" style="margin-bottom: 30px;">
                <label asp-for="SurveyName" class="control-label"></label>
                <input asp-for="SurveyName" class="form-control" />
                <span asp-validation-for="SurveyName" class="text-danger"></span>
            </div>
            <div class="form-group" style="margin-bottom: 30px;">
                <label asp-for="Description" class="control-label"></label>
                @Html.TextArea("Description", null, new { @class = "form-control" })
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="form-group" style="margin-bottom: 30px;">
                <label asp-for="Instructions" class="control-label"></label>
                @Html.TextArea("Instructions", null, new { @class = "form-control" })
                <span asp-validation-for="Instructions" class="text-danger"></span>
            </div>

            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>
  