@model FeedbackFriend.Models.Survey

@{
    ViewData["Title"] = "Create";
}

<div style="border: 3px solid #6c757d; padding: 10px 10px 10px 10px; background-color: #0062cc;">
    <div class="card-header" style="background-color: #d2d5d8;">
        <h3>
            Create a Survey  |
            <a asp-controller="Surveys" asp-action="LoggedIn">Back to List</a>
        </h3>
        <p></p>
    </div>

    <div class="card-body" style="padding: 10px 10px 10px 10px; background-color: #f0f1f2;">

        <div class="row">
            <div class="col-md-12">
                <form asp-action="Create">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    @*<input type="hidden" asp-for="SurveyId" /> Only need for Edit?*@

                    <div class="form-group" style="margin-bottom: 30px;">
                        <label asp-for="SurveyName" class="control-label"></label>
                        <input asp-for="SurveyName" class="form-control" />
                        <span asp-validation-for="SurveyName" class="text-danger"></span>
                    </div>
                    <div class="form-group" style="margin-bottom: 30px;">
                        <label asp-for="Description" class="control-label"></label>
                        @Html.TextArea("Description", null, new { @class = "form-control" })
                        <span asp-validation-for="Description" class="text-danger"></span>
                    </div>
                    <div class="form-group" style="margin-bottom: 30px;">
                        <label asp-for="Instructions" class="control-label"></label>
                        @Html.TextArea("Instructions", null, new { @class = "form-control" })
                        <span asp-validation-for="Instructions" class="text-danger"></span>
                    </div>

                    <div class="form-group">
                        <input type="submit" value="Save" class="col-lg-2 offset-1" style="background-color: #0062cc; font-size:larger; color: white;" />
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
